* {
  font-family: 'Ubuntu', normal;
  color: black;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373737;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 20px;
  font-size: 6vw;
}

 /* DESKTOP 🖥 ꜜ */
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "user-card user-card step-card sleep-card"
    "miles-card hydro-card friends-card friends-card";
  grid-gap: 1rem;
  width: 90vw;
  height: 75vh;
}

.flip-card {
  background-color: transparent;
  perspective: 5000px;
}

.user-card {
  grid-area: user-card;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #E6E6E6;
}

.flip-card-back {
  background-color: rgb(190, 190, 190);
  transform: rotateY(180deg);
}

h2 {
  margin: 15px 0px;
  font-size: 2vw;
}

.welcome {
  font-size: 3vw;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3b3c;
  border-radius: 20px;
  opacity: 80%;
}

p {
  font-size: 1.5vw;
}

.step-card {
  grid-area: step-card;
}

.large-text {
  margin-top: 5vh;
  font-size: 3vw;
}

img {
  height: 40px;
  margin: 30px 0px 15px;
}

.sleep-card {
  grid-area: sleep-card;
}

.average-sleep {
  font-size: 1.2vw;
  margin-top: 20px;
}

.miles-card {
  grid-area: miles-card;
}

.hydro-card {
  grid-area: hydro-card;
}

.friends-card {
  grid-area: friends-card;
}

.hydro-log {
  font-size: 2vw;
}

/* Charts */
.chart {
  height: 100%;
  width: 90%;
}

.chart-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-chart, .user-activity-chart{
  height: 100%;
  width: 100%;
}

.activity-chart {
  height: 100%;
  width: 35%;
}

/* MOBILE 📱 */
@media screen and (max-width: 620px) {
  h1 {
    font-size: 10vw;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "user-card user-card"
      "step-card sleep-card"
      "miles-card hydro-card"
      "friends-card friends-card";
    grid-gap: 1rem;
    width: 90vw;
    height: 90vh;
  }

  h2 {
    font-size: 5vw;
  }

  .welcome {
    font-size: 7vw;
  }

  p {
    font-size: 3vw;
  }

  .average-sleep {
    font-size: 2.2vw;
  }

  .large-text {
    margin-top: 3vh;
    font-size: 7vw;
  }

  .hydro-log {
    font-size: 4vw;
  }

  .user-chart {
    height: 50px;
    width: 10%;
  }
}
