* {
  font-family: 'VT323', monospace;
  color: black;
  /* border: 1px dotted lime; */
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373737;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin-top: 20px;
  font-size: 50px;
}

 /* DeskTop Screen ꜜ */
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "user-card user-card step-card sleep-card"
    "miles-card hydro-card friends-card friends-card";
  grid-gap: 1rem;
  width: 90vw;
  height: 90vh;
}

.flip-card {
  background-color: transparent;
  perspective: 5000px;
  /* border-radius: 1300px; */
}

.user-card {
  grid-area: user-card;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #E6E6E6;
}

.flip-card-back {
  background-color: rgb(190, 190, 190);
  transform: rotateY(180deg);
}

h2 {
  margin: 15px 0px;
}

section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3b3c;
  border-radius: 20px;
  opacity: 80%;
}

.step-card {
  grid-area: step-card;
}

img {
  height: 40px;
  margin: 30px 0px 15px;
}

.sleep-card {
  grid-area: sleep-card;
}

.miles-card {
  grid-area: miles-card;
}

.hydro-card {
  grid-area: hydro-card;
}

.friends-card {
  grid-area: friends-card;
}

@media screen and (max-width: 620px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "user-card user-card"
      "step-card sleep-card"
      "miles-card hydro-card"
      "friends-card friends-card";
    grid-gap: 1rem;
    width: 90vw;
    height: 90vh;
  }
}
/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */
